.topnav {
    position: sticky; 
    margin-top: 40px;
  overflow: hidden;
  background-color: #007bb6;
}

.topnav a {
float: center;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.line {  
width: 400px;
margin-top: 15px;
margin-bottom: 15px;
margin-left: 50px;
margin-right: 50px;
background: #ebebeb;
border-radius:10px;                  
}